$component-name: "l-facilities";

.#{$component-name} {
  background-color: $light-bg;

  &__container {
    @include grid(30rem);
  }

  &__box {
    background-color: $white;
    padding: 3rem;
    text-align: center;
    border: $border;
    box-shadow: $box-shadow;

    &:hover {
      background-color: $blue;

      .#{$component-name}__description,
      .#{$component-name}__title {
        color: $white;
      }
    }
  }

  &__image {
    height: 10rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    padding: 1rem 0;
    @include titleText(2rem);
  }

  &__description {
    @include graphText(1.4rem);
  }
}
