.l-header {
  &__contact-info {
    padding: 2rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $blue;

    .info {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      color: $white;
    }
  }
}
