$component-name: "l-footer";

.#{$component-name} {
  background-color: $light-bg;

  .u-emphasis {
    color: $blue;
  }

  &__box-container {
    @include grid(25rem);
  }

  &__title {
    @include titleText(2.2rem);
    padding: 1rem 0;
  }

  &__link {
    display: block;
    padding: 0.5rem 0;
    @include graphText(1.5rem);

    &:hover {
      color: $blue;

      .#{$component-name}__icon {
        padding-right: 2rem;
      }
    }
  }

  &__icon {
    padding-right: 0.5rem;
    color: $blue;
  }

  &__info {
    padding: 0.5rem 0;
    @include graphText(1.5rem);
  }

  &__subtitle {
    padding: 0.5rem 0;
    @include graphText(1.5rem);
  }

  &__input-email {
    width: 100%;
    border: $border;
    padding: 1.6rem 1.4rem;
    font-size: 1.6rem;
    color: $light-color;
    margin: 1rem 0;
    border-radius: 2px;
  }

  &__share {
    margin-top: 2rem;

    a {
      height: 4.5rem;
      width: 4.5rem;
      line-height: 4.5rem;
      font-size: 1.7rem;
      background: $black;
      color: $white;
      margin-right: 0.3rem;
      text-align: center;
      border-radius: 2px;

      &:hover {
        background: $blue;
      }
    }
  }
}
