$component-name: 'l-services';

.#{$component-name} {
  background-color: $light-bg;

  &__box-container {
    @include grid(30rem);
  }

  &__box {
    text-align: center;
    background-color: $white;
    border: $border;
    box-shadow: $box-shadow;
    padding: 3rem 2rem;

    &:hover {
      background-color: $blue;

      .#{$component-name}__description,
      .#{$component-name}__title {
        color: $white;
      }
    }
  }

  &__image {
    height: 7rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    @include titleText(2rem);
    padding: 1rem 0;
  }

  &__description {
    @include graphText(1.5rem);
  }
}
